/*custom-font*/
@font-face {
      font-family: titling-regular;
      src: url(font/built-titling.regular.ttf);
}

@font-face {
      font-family: titling-bold;
      src: url(font/built-titling.bold.ttf);
}

body{
	background-image: url(img/default.jpg);
}

h1{
	font-family: titling-bold;
	margin-top: 40px;
	text-align: center;
	font-size: 50pt;
	text-shadow: 1px 1px 2px black, 0 0 25px #eae9ea, 0 0 5px #f0f0f0;
}

h2{
	font-family: titling-bold;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 25px #eae9ea, 0 0 5px #f0f0f0;
}

.container{
	height: 500px;
}
/*weather info section*/


.col-01{
	background-color: #444444;
	opacity: 0.9;
	color: #FFFFFF;
	height: 500px;
	border-radius: 10px;
	box-shadow: 10px 10px rgba(0,0,0, 0.3);
}

.col-02{
	height: 500px;
	border-radius: 10px;
}

.row-bg{
	padding: 30px;
	line-height: 2rem;
	border-radius: 10px;
	background-color: rgba(255,255,255, 0.4);
}
/*weather content section*/
.weather-content{
	font-family: titling-regular;
	line-height: 4rem;
	margin-top:  30px;
	font-size: 30pt;
	text-shadow: 2px 4px rgba(0,0,0, 0.3);
}

.city{
	font-size: 45pt;
}



/*weather status section*/
.weather-status{
	font-family: titling-bold;
	margin-top:  100px;
	font-size: 50pt;
	text-shadow: 1px 1px 2px black, 0 0 25px #eae9ea, 0 0 5px #f0f0f0;
}

/*for weather status icon*/
img{
	height: 250px;
	width: auto;
	padding-bottom: 10px;
}


/*Search Box*/
.input-box{
	margin-top: 10px;
	width: 100%;
	background-color: rgba(240,248,255, 0.6);
	border: none;
	border-radius: 5px;
	outline: none;
	color: #582233;
	font-size: 2rem;
	height: 50px;
	padding: 0 10px;
	text-align: center;
}
.input-box:focus {
	background-color: rgba(255,255,255);
}
